
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Titan+One&family=Zen+Maru+Gothic&display=swap');


*{
    padding: 0;
    margin: 0;

        font-family: "Zen Maru Gothic", serif;
        font-weight: 400;
        font-style: normal;
    
      
}
